<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h2 class="page-title txt-color-blueDark" id="osy-title">
            <i class="fa-fw fa fa-home"></i> Model equations <span>> diagnostics</span>
        </h2>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h5> Selected Model: <span class="txt-color-blue" id="osy-case"></span></h5>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="well">
        <h3>Model equations</h3>
        <div id="equations"></div>
    </div>
</div>

<style>
.model-section-heading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

.model-equation {
    text-align: left;
}

.section-sep {
    border: 0;
    border-top: 2px solid #999;
    margin: 16px 0;
}

.eq-sep {
    border: 0;
    border-top: 1px dashed #ddd;
    margin-top: 8px;
}

.math-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}
</style>
